<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="imu" params="parent child xyz rpy">

  <link name="${child}">
    <inertial>
      <mass value="0.000528415362211671" />
      <inertia ixx="1.46176048428261E-08" ixy="1.40015117949421E-10" ixz="-1.99633872937403E-12"
               iyy="8.59662482954888E-09" iyz="7.52375112767959E-12"
               izz="2.30279421279312E-08" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="red">
        <color rgba="0.0 0.0 1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="${parent}_to_${child}_joint" type="fixed">
    <origin xyz="${xyz}" rpy="${rpy}" />
    <parent link="${parent}" />
    <child link="${child}" />
    <axis xyz="0 0 0" />
  </joint>

  </xacro:macro>

</robot>